* {
  margin: 0;
  padding: 0;
}

div {
}

.tile {
  width: 50px;
  height: 50px;

  background-color: white;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
}

.piece {
  width: 25px;
  height: 25px;
  cursor: move;
  background-color: grey;
  line-height: 25px;
  text-align: center;
}

.black { 
  background-color: black;
  color: white;
}

#board {
  width: 400px;

  display: flex;
  flex-wrap: wrap;
}